@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: brown;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.alert {
    background-color: rgb(193, 193, 193);
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    width: 450px;
    height: 350px;
    top: 10px;
}

.alert .alert-text {
    height: 75%;
    display: flex;
    align-items: center;
}

.alert .alert-text .text {
    text-align: center;
    width: 100%;
    padding: 15px;
    margin: 15px;
}

.alert .alert-btns {
    height: 25%;
    display: flex;
    align-items: center;
}

.alert .alert-btns .alert-btns-box {
    width: 50%;
    display: flex;
    justify-content: center;
}


.alert .alert-btns .alert-btns-box .btn {
    padding: 10px 15px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border: 2px solid black;
    color: black;
}

.alert .alert-btns .decline .btn {
    background-color: #ed0744;
    color: black;
}

.alert .alert-btns .comfirm .btn {
    background-color: #63ed07;
    color: black;
}

.alert .alert-btns .alert-btns-box .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: black;
}