body {
    background-color: brown;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.alert {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    width: 450px;
    height: 350px;
    top: 10px;
}

.alert .alert-text {
    height: 75%;
    display: flex;
    align-items: center;
}

.alert .alert-text .text {
    text-align: center;
    width: 100%;
    padding: 15px;
    margin: 15px;
}

.alert .alert-btns {
    height: 25%;
    display: flex;
    align-items: center;
}

.alert .alert-btns .alert-btns-box {
    width: 50%;
    display: flex;
    justify-content: center;
}